html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  background-color: #37233a;
}

ol, ul {
  list-style: none;
}

h1 {
  padding-top: 15px;
  font-size: 55px;
  color: #17f0d4;
  font-family: 'Luckiest Guy', cursive;
}

button {
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #17f0d4;
  border-color: #17f0d4;
  color: #37233a;
}


.main-area {
  background-color: #37233a;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 10px 10px 8px #070707;
}

.middle-area {
  display: flex;
}

/* .aside {
  background-color: red;
} */

.left-aside {
  background-color: #0c5d56;
  width: 500px;
}

.right-aside {
  background-color: #0c5d56;
  width: 500px;
}

.canvas-grid {
  margin: 20px;

}

.top-part {
  background-color: #0c5d56b3;
  height: 100px;
  text-align: center;
}

.control-panel {
  background-color: #0c5d56;
  height: 150px;
}

.control-panel ul {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #0c5d56b3;
  height: 300px;
}

.footer ul {
  color: #17f0d4;
  display: flex;
  font-size: 45px;
  justify-content: center;
  padding: 100px;
}

.footer li {
  margin: 10px;
}

.footer a {
  color: #17f0d4;
}
