html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  background-color: #37233a;
}

ol, ul {
  list-style: none;
}


.main-area {
  background-color: #37233a;
  margin: 0 auto;
  width: 1200px;
}

.middle-area {
  display: flex;
}

/* .aside {
  background-color: red;
} */

.left-aside {
  background-color: #0c5d56;
  width: 500px;
}

.right-aside {
  background-color: #0c5d56;
  width: 500px;
}

.canvas-grid {
  margin: 20px;
}

.top-part {
  background-color: #0c5d56b3;
  height: 100px;
}

.footer {
  background-color: #0c5d56b3;
  height: 300px;
}
